**Taller 2 - Parte 1:** Buscar un DataSet en [Kaggle](https://www.kaggle.com/datasets) e implementar las funciones más usadas en Pandas que se encuentran en esta [página](https://pandas.pydata.org/docs/user_guide/10min.html).

**No olvidar agregar la fuente de donde obtuvo dicho dataset.**

In [ ]:
import pandas as pd
import numpy as np

#Para cargar el Dataset desde el drive
from google.colab import drive
drive.mount('/content/drive')
file_path = '/content/drive/MyDrive/EPL player stats - Sheet1.csv'
jugadores_PL = pd.read_csv(file_path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Para visualizar la parte inicial de la información usamos la función 'Dataset'.head()

In [ ]:
jugadores_PL.head()

,Player,Club,born,Height,Position,2021-2022
0,Brenden Aaronson,Leeds United,22/10/2000,178 cm,MF,2021-2022
1,Zach Abbott,Nottingham Forest,13/05/2006,173,DF,2021-2022
2,Terry Ablade,Fulham FC,12/10/2001,181 cm,FW,2021-2022
3,Adama Traoré,Wolverhampton Wanderers,25/01/1996,178 cm,FW,2021-2022
4,Ché Adams,Southampton FC,13/07/1996,179 cm,FW,2021-2022

 Para visualizar la parte final de la información usamos la función 'Dataset'.tail()

In [ ]:
jugadores_PL.tail()

,Player,Club,born,Height,Position,2021-2022
1306,Zanka,Brentford FC,23/04/1990,191 cm,DF,2022-2023
1307,Christoph Zimmermann,Norwich City,12/01/1993,194 cm,DF,2022-2023
1308,Oleksandr Zinchenko,Manchester City,15/12/1996,175 cm,DF,2022-2023
1309,Hakim Ziyech,Chelsea FC,19/03/1993,180 cm,FW,2022-2023
1310,Kurt Zouma,West Ham United,27/10/1994,190 cm,DF,2022-2023

In [ ]:
#se obtiene un resumen de las medidas de tendencia central, dispersión y forma de la distribución de cada columna numérica del DataFrame.
jugadores_PL.describe()

             Player          Club        born  Height Position  2021-2022
count          1311          1311        1311    1311     1311       1311
unique          941            23         868      45        4          2
top     Isaac Price  Liverpool FC  25/03/2000  183 cm       MF  2022-2023
freq              2            77           5      92      453        661

In [ ]:
# Ordenar por el índice
jugadores_PL.sort_index(ascending=False)

,Player,Club,born,Height,Position,2021-2022
1310,Kurt Zouma,West Ham United,27/10/1994,190 cm,DF,2022-2023
1309,Hakim Ziyech,Chelsea FC,19/03/1993,180 cm,FW,2022-2023
1308,Oleksandr Zinchenko,Manchester City,15/12/1996,175 cm,DF,2022-2023
1307,Christoph Zimmermann,Norwich City,12/01/1993,194 cm,DF,2022-2023
1306,Zanka,Brentford FC,23/04/1990,191 cm,DF,2022-2023
...,...,...,...,...,...,...
4,Ché Adams,Southampton FC,13/07/1996,179 cm,FW,2021-2022
3,Adama Traoré,Wolverhampton Wanderers,25/01/1996,178 cm,FW,2021-2022
2,Terry Ablade,Fulham FC,12/10/2001,181 cm,FW,2021-2022
1,Zach Abbott,Nottingham Forest,13/05/2006,173,DF,2021-2022
0,Brenden Aaronson,Leeds United,22/10/2000,178 cm,MF,2021-2022

In [ ]:
# Ordenar por valores
jugadores_PL.sort_values(by="Player",ascending=True)

               Player             Club        born  Height Position  2021-2022
126   Aaron Cresswell  West Ham United  15/12/1989  170 cm       DF  2021-2022
771   Aaron Cresswell  West Ham United  15/12/1989  170 cm       DF  2022-2023
259      Aaron Hickey     Brentford FC  10/06/2002  185 cm       DF  2021-2022
992      Aaron Lennon       Burnley FC  16/04/1987  165 cm       MF  2022-2023
473    Aaron Ramsdale       Arsenal FC  14/05/1998  190 cm       GK  2021-2022
..                ...              ...         ...     ...      ...        ...
549    Çağlar Söyüncü   Leicester City  23/05/1996  185 cm       DF  2021-2022
243    İlkay Gündoğan  Manchester City  24/10/1990  180 cm       MF  2021-2022
889    İlkay Gündoğan  Manchester City  24/10/1990  180 cm       MF  2022-2023
835  Łukasz Fabiański  West Ham United  18/04/1985  190 cm       GK  2022-2023
188  Łukasz Fabiański  West Ham United  18/04/1985  190 cm       GK  2021-2022

[1311 rows x 6 columns]

In [ ]:
# Para seleccionar columna
jugadores_PL["Player"]

0           Brenden Aaronson
1                Zach Abbott
2               Terry Ablade
3               Adama Traoré
4                  Ché Adams
                ...
1306                   Zanka
1307    Christoph Zimmermann
1308     Oleksandr Zinchenko
1309            Hakim Ziyech
1310              Kurt Zouma
Name: Player, Length: 1311, dtype: object

In [ ]:
# Para selecionar la información de un elemento
jugadores_PL.iloc[1200]

Player       Gylfi Sigurðsson
Club               Everton FC
born               08/09/1989
Height                 186 cm
Position                   MF
2021-2022           2022-2023
Name: 1200, dtype: object

In [ ]:
#Rellena los valores nulos o faltantes
jugadores_PL.fillna(0)

,Player,Club,born,Height,Position,2021-2022
0,Brenden Aaronson,Leeds United,22/10/2000,178 cm,MF,2021-2022
1,Zach Abbott,Nottingham Forest,13/05/2006,173,DF,2021-2022
2,Terry Ablade,Fulham FC,12/10/2001,181 cm,FW,2021-2022
3,Adama Traoré,Wolverhampton Wanderers,25/01/1996,178 cm,FW,2021-2022
4,Ché Adams,Southampton FC,13/07/1996,179 cm,FW,2021-2022
...,...,...,...,...,...,...
1306,Zanka,Brentford FC,23/04/1990,191 cm,DF,2022-2023
1307,Christoph Zimmermann,Norwich City,12/01/1993,194 cm,DF,2022-2023
1308,Oleksandr Zinchenko,Manchester City,15/12/1996,175 cm,DF,2022-2023
1309,Hakim Ziyech,Chelsea FC,19/03/1993,180 cm,FW,2022-2023
1310,Kurt Zouma,West Ham United,27/10/1994,190 cm,DF,2022-2023

In [ ]:
# Agrupa los datos del DataFrame según una o varias columnas y aplica una función de agregación a cada grupo.
grouped = jugadores_PL.groupby('Club')
print(grouped.mean())

Empty DataFrame
Columns: []
Index: [AFC Bournemouth, Arsenal FC, Aston Villa, Brentford FC, Brighton & Hove Albion, Burnley FC, Chelsea FC, Crystal Palace, Everton FC, Fulham FC, Leeds United, Leicester City, Liverpool FC, Manchester City, Manchester United, Newcastle United, Norwich City, Nottingham Forest, Southampton FC, Tottenham Hotspur, Watford FC, West Ham United, Wolverhampton Wanderers]

<ipython-input-49-bc6a37217786>:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  print(grouped.mean())

In [ ]:
 #Elimina filas o columnas del DataFrame.
 jugadores_PL.drop(['Height'], axis=1)

,Player,Club,born,Position,2021-2022
0,Brenden Aaronson,Leeds United,22/10/2000,MF,2021-2022
1,Zach Abbott,Nottingham Forest,13/05/2006,DF,2021-2022
2,Terry Ablade,Fulham FC,12/10/2001,FW,2021-2022
3,Adama Traoré,Wolverhampton Wanderers,25/01/1996,FW,2021-2022
4,Ché Adams,Southampton FC,13/07/1996,FW,2021-2022
...,...,...,...,...,...
1306,Zanka,Brentford FC,23/04/1990,DF,2022-2023
1307,Christoph Zimmermann,Norwich City,12/01/1993,DF,2022-2023
1308,Oleksandr Zinchenko,Manchester City,15/12/1996,DF,2022-2023
1309,Hakim Ziyech,Chelsea FC,19/03/1993,FW,2022-2023
1310,Kurt Zouma,West Ham United,27/10/1994,DF,2022-2023

Best seller category, use of the function "group by"

In [ ]:
import pandas as pd
import numpy as np

#Para cargar el Dataset desde el drive
from google.colab import drive
drive.mount('/content/drive')
file_path = '/content/drive/MyDrive/bestsellers-with-categories.csv'
books = pd.read_csv(file_path)
books

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

Agrupación por autor y agregación por medio de calificaciones y reseñas de usuarios

In [ ]:
grouped = books.groupby('Author').agg({'User Rating': 'mean', 'Reviews': 'mean'})
print(grouped.head())

                            User Rating  Reviews
Author
Abraham Verghese                    4.6   4866.0
Adam Gasiewski                      4.4   3113.0
Adam Mansbach                       4.8   9568.0
Adir Levy                           4.8   8170.0
Admiral William H. McRaven          4.7  10199.0

Agrupando por autor y género y contando el número de filas para cada grupo

In [ ]:
grouped = books.groupby(['Author', 'Genre']).count()

print(grouped.head())

                                        Name  User Rating  Reviews  Price  \
Author                     Genre
Abraham Verghese           Fiction         2            2        2      2
Adam Gasiewski             Non Fiction     1            1        1      1
Adam Mansbach              Fiction         1            1        1      1
Adir Levy                  Fiction         1            1        1      1
Admiral William H. McRaven Non Fiction     1            1        1      1

                                        Year
Author                     Genre
Abraham Verghese           Fiction         2
Adam Gasiewski             Non Fiction     1
Adam Mansbach              Fiction         1
Adir Levy                  Fiction         1
Admiral William H. McRaven Non Fiction     1

Agrupando por Autor y sumando la columna Reseñas

In [ ]:
grouped = books.groupby('Author')['Reviews'].sum()
print(grouped.head())

Author
Abraham Verghese               9732
Adam Gasiewski                 3113
Adam Mansbach                  9568
Adir Levy                      8170
Admiral William H. McRaven    10199
Name: Reviews, dtype: int64

Agrupación por autor y aplicación de diferentes funciones de agregación a diferentes columnas

In [ ]:
grouped = books.groupby('Author').agg({'Name': 'count', 'User Rating': 'mean', 'Reviews': 'sum'})
print(grouped.head())

                            Name  User Rating  Reviews
Author
Abraham Verghese               2          4.6     9732
Adam Gasiewski                 1          4.4     3113
Adam Mansbach                  1          4.8     9568
Adir Levy                      1          4.8     8170
Admiral William H. McRaven     1          4.7    10199

Agrupación por autor y cálculo de la calificación de usuario mínima, máxima y mediana

In [ ]:
grouped = books.groupby('Author')['User Rating'].agg(['min', 'max', 'median'])
print(grouped.head())

                            min  max  median
Author
Abraham Verghese            4.6  4.6     4.6
Adam Gasiewski              4.4  4.4     4.4
Adam Mansbach               4.8  4.8     4.8
Adir Levy                   4.8  4.8     4.8
Admiral William H. McRaven  4.7  4.7     4.7